@import "resets"
@import "novara"

#header
  background-image: url(/img/working/marble-1400.jpg)

#logo-nm
  height: 55px
  width: 55px



@media screen and (max-width: 912px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #pagination
    margin: $margin-basic 0

@media screen and (max-width: 696px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #pagination
    margin: $margin-basic 0


