@import "resets"
@import "novara"

$font-leading-basic = 1.4em

#header
  background-image: url(../img/working/marble-1400.jpg)

#logo-nm
  height: 55px
  width: 55px

#main-content
  font-size: 2em
  line-height: $font-leading-basic
  font-weight: bold
  margin-top: $margin-small
  .col24
    max-width: (19*$col)+(18*$gutter)
    margin: 0 auto
    float: none

.list
  li
    list-style: circle inside
    padding-left: $margin-tiny

// RESPONSIVE VIDEO

.video-holder
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  margin-bottom: $margin-small
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// MAILCHIMP INPUTS

#mce-EMAIL
  padding: $margin-tiny
  width: 75%

.support-form-submit
  padding: $margin-tiny

// INPUT FORMS

.support-form-holder
  box-sizing: border-box
  padding: $margin-small
  text-align: center
  border: 2px solid white

.support-form-value-holder
  width: 20%
  float: left

.support-form-slider-holder
  width: 75%
  float: right

.support-form-slider
  width: 65%
  margin-right: 2%

.support-form-submit
  width: 12%
  margin-left: 2%
  background-color: white
  color: $red
  border: 0


@media screen and (max-width: 912px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #pagination
    margin: $margin-basic 0

@media screen and (max-width: 696px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #pagination
    margin: $margin-basic 0


